
{%load static%}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'welcome' %}">Farmer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        
        <ul class="navbar-nav mr-auto">

            {% if user.is_authenticated %}

<li>

    <a class="nav-link"  hret="{% url 'profile'%}">  {{user}}</a>
</li>
            
     <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'new-article' %}">Create Post</a>
                    <a class="dropdown-item" href="{% url 'new-profile'%}">Create Profile</a>
                    <a class="dropdown-item" href="{% url 'profile'%}">Profile</a>
                    <a class="dropdown-item" href="{%url 'wether'%}">Wether</a>
                    <a class="dropdown-item" href="{% url 'tools'%}">Farm Tools</a>
                    <a class="dropdown-item" href="{%url 'market'%}">Market Partan</a>
                    <a class="dropdown-item" href="/accounts/password/change">Change Password</a>
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </li>
           

            {% else %}

            <li class="nav-item">
                <a class='btn btn-default' href="/accounts/login">Login</a>
            </li>

            {% endif %}

        </ul>

        <ul class="bugu">
            <form class="form-inline my-2 my-lg-0 navbar-form" role="search" action="{% url 'search_results' %}">
            <div class="container h-100">
                <div class="d-flex justify-content-center h-100">
                    <div class="searchbar">
                        <input class="search_input" type="text" name="" placeholder="Search...">
                        <a href="{% url 'search_results' %}" class="search_icon"><i class="fas fa-search"></i></a>
                    </div>
                </div>
            </div>
        </form>
        </ul>

        
    </div>
</nav>

